@using Pharmacy.Core
@using Pharmacy.Repos
@{
    ViewData["Title"] = "Home Page";
}
@model List<Catalog>


<h3>Каталог</h3>
<hr />
@if (Model.Any())
{
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                @foreach (var dl in Model)
                {
                    <a class="list-group-item list-group-item-action" href="/Category/Index/@dl.Id" role="button">
                        @dl.Name
                    </a>
                }
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger">Відсутні</div>
}
