@{
}
@model List<Medicaments> 


@if (Model.Any())
{
    <div class="row">
        @foreach (var medc in Model)
        {
            <div class="col-4">
                <div class="card" style=" height: 30rem;">
                    <img img src="@medc.Img" asp-append-version="true" class="card-img-top" style="padding: 2rem; height: 20rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">@medc.Name</h5>
                        <p class="card-text">@medc.Price $</p>
                        <a href="/medicament/Info/@medc.Id" class="btn btn-primary">Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger">There aren't products</div>
}