@using Pharmacy.Core

@model IEnumerable<Medicaments>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["category"].ToString()</h1>
<hr />

@if (Model.Any())
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 1em">
        @foreach (var ct in Model)
        {
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <a href="/Category/DetailsMedicament/@ct.MedicamentsId" class="title">
                            @ct.Name
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger">There aren't products</div>
}