@using Pharmacy.Core
@{
    ViewData["Title"] = "Home Page";
}
@model List<Category>


<h3>@ViewData["catalog"].ToString()</h3>
<hr />
@if (Model.Any())
{
    <ul >
        <ul >

            @foreach (var ct in Model)
            {

                <li>
                    <span class="expand j-expand"><i class="icon-plus2"></i></span>
                    <a href="/Category/CategoryAllProducts/@ct.Id">@ct.Name</a>
                    <ul >
                            @foreach (var ctg in ct.SubCategory)
                            {
                                <li>
                                    <span class="expand j-expand"><i class="icon-plus2"></i></span>
                                <a href="/Category/CategoryProducts/@ctg.SubCategoryId">@ctg.Name</a>
                                </li>
                            }

                    </ul>
                </li>
            }
        </ul>
    </ul>
}

else
{
    <div class="alert alert-danger">Відсутні</div>
}
