@using Pharmacy.Core
@model Pharmacy.Core.Medicaments

@{
    ViewData["Title"] = "Create";
    var subcategories = ViewBag.Subcategory as IEnumerable<SubCategory>;
}
<div class="float-end">
    <a href="/users/index" class="btn btn-outline-dark">Повернутися до списку</a>
</div>
<h1>Новий продукт</h1>
<hr />

<div class="row">

    <form asp-action="Create" class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="ReleaseForm" class="control-label"></label>
                <input asp-for="ReleaseForm" class="form-control" />
                <span asp-validation-for="ReleaseForm" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="SubCategories" class="form-label"></label>
            <select class="form-select" size="3" id="subcategories" name="subcategories" multiple>
                @foreach (var r in subcategories)
                {
                            <!option value="@r.Name">@r.Name</!option>                        
                }
            </select>
        </div>
        <div class="mb-3">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        <div class="mb-3">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
 }
