@using Pharmacy.Core
@model Pharmacy.Core.SubCategory

@{
    ViewData["Title"] = "EditSubCategory";
    var category = ViewBag.Categories as IEnumerable<Category>;
}

<h1>Редагування</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubCategory">

            @Html.AntiForgeryToken()
            <input asp-for="SubCategoryId" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="form-label"></label>
                <select class="form-select" size="3" id="category" name="category">
                    @foreach (var r in category)
                    {
                        <!option value="@r.Name">@r.Name</!option>
                    }
                </select>
            </div>

            <div class="form-group" style="margin-top:1em">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SubCategories">Повернутись до списку</a>
</div>

@section Scripts {

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
 }
