@model Pharmacy.Core.Catalog

@{
    ViewData["Title"] = "EditCatalog";
}

<h1>Редагування</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCatalog">

            @Html.AntiForgeryToken()
            <input asp-for="Id" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:1em">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Catalogs">Повернутись до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
